[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=server
Group=server
WorkingDirectory=/home/server/app/src/
Environment="PATH=/home/server/app/venv/bin"
EnvironmentFile=/home/server/.env
ExecStart=/home/server/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target